.singlePost {
  flex: 9;
  height: 100vh;
}
.singlePostImg {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}

.singlePostTitle {
  text-align: center;
  font-family: "Lora", sans-serif;
  font-size: 20px;
  margin-top: 15px;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: rgb(241, 94, 26);
}

.singlePostInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  color: #b39656;
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 700;
}
