.sidebar {
  flex: 3;
  margin: 20px;

  padding-bottom: 30px;
  background-color: #fdfbfb;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  justify-content: center;
  display: flex;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: "Josefin Sans", sans-serif;
  color: #222;
  font-weight: 600;
  line-height: 20px;
}

.sidebarItem > img {
  width: 100%;
  border-radius: 2px;
}

.sidebarItem > p {
  padding: 30px;
}

.sidebarList {
  list-style: none;
  margin-bottom: 30px;
}

.sideBarListItem {
  width: 50%;
  display: inline-block;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  margin-left: 10px;
}
