.top {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 9999;
}

.topLeft,
.topRight {
  flex: 3;
  justify-content: center;
  align-items: center;
  display: flex;

  height: 100%;
}
.topCenter {
  flex: 6;

  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.topIcon {
  font-size: 20px;
  margin: 15px;
  color: #444;
  cursor: pointer;
}

.topList {
  display: flex;
  list-style-type: none;

  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}
